@import "tailwindcss";




@theme {
    --color-primary: var(--c-primary);
    --color-tahiti: #3ab7bf;
    --color-bermuda: #78dcca;
}

body {
    background-color: var(--c-background);
}

.ant-menu-item-selected {
    border-left: 5px #e3905c solid;

}