@import "tailwindcss";




@theme {
    --color-primary: var(--c-primary);
    --color-background: var(--c-background);
    --color-background-dark: var(--c-background-dark);
    --color-accent: var(--c-accent);
    --color-accent-dark: var(--c-accent-dark);
}


.ant-menu-item-selected {
    border-left: 5px #e3905c solid;
}