@import "tailwindcss";




@theme {
    --color-primary: var(--c-primary);
    --color-background: var(--c-background);
    --color-input: red;
}


.ant-menu-item-selected {
    border-left: 5px #e3905c solid;
}